@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <footer class="footer text-center py-3 mt-5">
            <div class="container">
                <span class="text-muted">Money Tracker © @DateTime.Now.Year Your Personal Budget Assistant</span>
            </div>
        </footer>
    </main>
</div>
